
<footer>
    <div class="footer-content">
        <img src="img/light-logo.png" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">men</li>

                <li><a href=""class="footer-link" >t-shirts</a></li>
                <li><a href=""class="footer-link" >formal-shirts</a></li>
                <li><a href=""class="footer-link" >sweat-shirts</a></li>
                <li><a href=""class="footer-link" >Jeans</a></li>
                <li><a href=""class="footer-link" >Sneakers</a></li>
                <li><a href=""class="footer-link" >Flip Flops</a></li>

            </ul>
            <ul class="category">
                <li class="category-title">women</li>
                 <li><a href=""class="footer-link" >t-shirts</a></li>
                <li><a href=""class="footer-link" >Shirts</a></li>
                <li><a href=""class="footer-link" >sweat-shirts</a></li>
                <li><a href=""class="footer-link" >Jeans</a></li>
                <li><a href=""class="footer-link" >Sneakers</a></li>
                <li><a href=""class="footer-link" >Flip Flops</a></li>

            </ul>
        </div>
        
    </div>
    <p class="footer-title">About Company</p>
        <p class="info">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>
        <p class="info">mail:tusharvarkhede363@gmail.com</p>

        <div class="footer-social-container">
            <div>
                <a href="" class="social-link">terms and services</a>
                <a href="" class="social-link">privacy page</a>

            </div>
            <div>
                <a href="" class="social-link1 fa fa-facebook"></a>
                <a href="" class="social-link1 fa fa-twitter"></a>
                <a href="" class="social-link1 fa fa-instagram"></a>
                <a href="" class="social-link1 fa fa-linkedin"></a>


            </div>
            <p class="footer-credit">
                Clothing, Best apparels online store
            </p>



        </div>
</footer>




<script src="js/home.js"></script>
<script src="js/product.js"></script>

</body>
</html>