<%- include("partials/header") -%>

    <title>Page Not Found</title>

    <img class="four-o-four-img" src="img/404.png" alt="">
    <p class="four-o-four-msg" >look like you are lost. Head to back to our <a href="/">homepage </a> </p>



<%- include("partials/footer") -%>