
<%- include("partials/header") -%>
    
<header class="hero-section">
    <div class="content">
        <img src="img/light-logo.png" class="logo" alt="">
        <p class="sub-heading">Best Fashon Collection Of All The Time</p>
    </div>
</header>


<!-- Section Catgory -->
<section class="product">
    <h2 class="product-category">Best Selling</h2>
    
    <button class="pre-btn"> <img src="img/arrow.png" alt=" "> </button>

    <button class="nxt-btn"> <img src="img/arrow.png" alt=" "> </button>


    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card1.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card2.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card3.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card4.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card5.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card6.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card7.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
    </div>

</section>

<!-- Collections Gallery Section -->
<section  class="collection-container" >
    <a class="collection" href="">
        <img src="img/women-collection.png" alt="">
        <p class="collection-title"> women</p>
    </a>
    <a class="collection" href="">
        <img src="img/men-collection.png" alt="">
        <p class="collection-title"> men</p>
    </a>
    <a class="collection" href="">
        <img src="img/accessories-collection.png" alt="">
        <p class="collection-title"> accessories</p>
    </a>

</section>

<section class="product">
    <h2 class="product-category">Shoes</h2>
    
    <button class="pre-btn"> <img src="img/arrow.png" alt=" "> </button>

    <button class="nxt-btn"> <img src="img/arrow.png" alt=" "> </button>


    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card1.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card2.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card3.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card4.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card5.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card6.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card7.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
    </div>

</section>


<section class="product">
    <h2 class="product-category">Shirts</h2>
    
    <button class="pre-btn"> <img src="img/arrow.png" alt=" "> </button>

    <button class="nxt-btn"> <img src="img/arrow.png" alt=" "> </button>


    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card1.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card2.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card3.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card4.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card5.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card6.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% OFF</span>
                <img src="img/card7.png" class="product-thumb" alt="" >
                <button class="card-btn">Add To WishList</button>
            </div>

            <div class="product-info">
                <h2 class="product-brand">Brand</h2>
                <p class="product-short-des">A short line about the cloth..</p>
                <span class="price"> $20</span><span class="actual-price">$40</span>
            </div>

        </div>
    </div>

</section>
<%- include("partials/footer") -%>
