
<%- include('partials/header') -%>



<section class="search-results">
    <h2 class="heading">
        Search results for <span>product </span>
    </h2>

    <section class="product">
        <h2 class="product-category">Best Selling</h2>
        
        <button class="pre-btn"> <img src="img/arrow.png" alt=" "> </button>
    
        <button class="nxt-btn"> <img src="img/arrow.png" alt=" "> </button>
    
    
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card1.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card2.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card3.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card4.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card5.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card6.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card7.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card8.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card9.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% OFF</span>
                    <img src="img/card10.png" class="product-thumb" alt="" >
                    <button class="card-btn">Add To WishList</button>
                </div>
    
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="product-short-des">A short line about the cloth..</p>
                    <span class="price"> $20</span><span class="actual-price">$40</span>
                </div>
    
            </div>
        </div>
    
    </section>
</section>




<%- include ("partials/footer") -%>